.topnav {
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
body.show-nav {
  transform: translateX(250px);
  transition: transform 0.3s ease-in-out;
}

.active {
  background-color: #4caf50;
  color: white;
}
.topnav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

input:focus,
button:focus {
  outline: none;
}

.topnav ul li {
  padding: 15px;
  display: inline-block;
  margin-right: 10px;
}
.topnav ul li a {
  color: #070707;
  text-decoration: none;
}
.topnav ul li form {
  margin-left: 30px;
  position: relative;
  width: 100%;
}

.topnav ul li form button {
  position: absolute;
  top: 1px;
  right: 1px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 0;
  color: black;
  border: 0;
  background-color: white;
  width: 10%;
}

.topnav ul li form input {
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  font-weight: 200;
  border: 1px solid black;
  padding: 5px 30px;
}
.topnav .icon {
  display: none;
}

.topnav .icon:hover {
  text-decoration: none;
}

.topnav .home a {
  color: black;
  font-size: 24px;
  font-weight: 600;
}

.topnav .home a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.topnav ul li a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.8);
}

.responsive {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.responsive ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.responsive ul li {
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
  padding: 20px;
  text-align: center;
}
.responsive ul div {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid rgba(200, 200, 200, 0.1);
}
.responsive ul div li {
  border-bottom: none;
}

.responsive ul li a {
  color: #070707;
}

.responsive ul li form {
  position: relative;
  width: 100%;
}

.responsive ul li form button {
  position: absolute;
  top: 1px;
  right: 1px;
  border-radius: 5px;
  font-size: 20px;
  padding: 0;
  color: black;
  border: 0;
  background-color: white;
  width: 10%;
}

.responsive ul li form input {
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  font-weight: 200;
  border: 1px solid black;
  padding: 0 30px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 800px) {
  .topnav li:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    display: block;
  }
  .topnav li.home {
    margin-top: -60px;
    display: block;
    margin-left: 33.3vw;
  }
}
